<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
</head>
<body>
  
<div class="container">
    <h3>Verify passenger details</h3> 
    <span class="label1">Passport Number</span>  <br>

     <div class="inputs">
      <form><input type="text" [(ngModel)]="passport" name="passport" ></form>
      <button type="submit" (click)="verifyPassenger(passport)">Verify</button>
     </div>
    
   </div>
<!-- 
     <p>home works!</p>
     <div class="productList" *ngFor ="let item of allDetails" > 
     <p>{{item.properties.firstname}}</p>
          </div> -->
        <!-- Default form login -->


</body>
</html>
    