
  <!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

      <title>Document</title>
  </head>
  <body>
<br>
    <div class="container" style="justify-content: center; align-items: center;">

        <div class="dropDownLeft">
            <div class="dropdown">
                <button class="dropbtn">Window Seat</button>
                <div class="dropdown-content">
                  <a (click)="loadCategory(0, 'Products')">Yes</a>
                  <a (click)="loadCategory(1, 'Vegetables')">No</a>
                </div>
              </div>
            </div>

            <div class="dropDownLeft">
                <div class="dropdown">
                    <button class="dropbtn">Seat location</button>
                    <div class="dropdown-content">
                      <a (click)="loadCategory(0, 'Products')">Washroom</a>
                      <a (click)="loadCategory(1, 'Vegetables')">Canteen</a>
                      <a (click)="loadCategory(1, 'Vegetables')">Middle</a>
                    </div>
                  </div>
                </div>
            <br><br><br><br><br>

<br>
        <div class="card" style="width: 23rem; padding: 10px; margin-left: 10px;">
            <div class="row"> 
                <div class="col-4">
                3 &nbsp;<span class="badge">A</span>
                 <span class="badge" style="margin-left: 10px;">B</span>
                </div>
                <div class="col-4">
                  <span class="badge">C</span>
                 <span class="badge" style="margin-left: 10px;">D</span>
                </div>
                <div class="col-4">
                  <span class="badge">E</span>
                 <span class="badge" style="margin-left: 10px;">F</span>
                </div>
              </div>

              <br>
              <div class="row"> 
                <div class="col-4">
                 4 &nbsp; <span class="badge">A</span>
                 <span class="badge" style="margin-left: 10px;">B</span>
                </div>
                <div class="col-4">
                  <span class="badge">C</span>
                 <span class="badge" style="margin-left: 10px;">D</span>
                </div>
                <div class="col-4">
                  <span class="badge">E</span>
                 <span class="badge" style="margin-left: 10px;">F</span>
                </div>
              </div>
<br>
              
              <div class="row" style="height: 3rem;"> 
                <div class="col-2"></div>
                <div class="col-8" style=" text-align: center;  background-color: aliceblue;">
                    Canteen
               </div>
               <div class="col-2"></div>
              </div>

              <br>

              <div class="row"> 
                <div class="col-4" style=" text-align: center;  background-color: darkgray;">
                EXIT </div>
                <div class="col-4" style=" text-align: center;">
                   
               </div>
               <div class="col-4" style=" text-align: center;  background-color: darkgray;"> EXIT</div>
              </div>
<br>
              <div class="row"  style="height: 3rem;"> 
                <div class="col-4" style=" text-align: center; background-color: aliceblue;">
                Washroom </div>
                <div class="col-4" style=" text-align: center;">
                   
               </div>
               <div class="col-4" style=" text-align: center;  background-color: aliceblue;"> Washroom</div>
              </div>

              <br>

              <div class="row"> 
                <div class="col-4">
                10 &nbsp;<span class="badge">A</span>
                 <span class="badge" style="margin-left: 10px;">B</span>
                </div>
                <div class="col-4">
                  <span class="badge">C</span>
                 <span class="badge" style="margin-left: 10px;">D</span>
                </div>
                <div class="col-4">
                  <span class="badge">E</span>
                 <span class="badge" style="margin-left: 10px;">F</span>
                </div>
              </div>

              <br>
              <div class="row"> 
                <div class="col-4">
                 11 &nbsp; <span class="badge">A</span>
                 <span class="badge" style="margin-left: 10px;">B</span>
                </div>
                <div class="col-4">
                  <span class="badge">C</span>
                 <span class="badge" style="margin-left: 10px;">D</span>
                </div>
                <div class="col-4">
                  <span class="badge">E</span>
                 <span class="badge" style="margin-left: 10px;">F</span>
                </div>
              </div>

              <br>
              <div class="row"> 
                <div class="col-4">
                 12 &nbsp; <span class="badge">A</span>
                 <span class="badge" style="margin-left: 10px;">B</span>
                </div>
                <div class="col-4">
                  <span class="badge">C</span>
                 <span class="badge" style="margin-left: 10px;">D</span>
                </div>
                <div class="col-4">
                  <span class="badge">E</span>
                 <span class="badge" style="margin-left: 10px;">F</span>
                </div>
              </div>



          </div>
    
      
      </div>
  </body>
  </html>