
  <!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

      <title>Document</title>
  </head>
  <body>
<br>
    <div class="container" style="justify-content: center; align-items: center;">


        <div class="dropDownLeft">
            <div class="dropdown">
                <button class="dropbtn">Number of Seats</button>
                <div class="dropdown-content">
                  <a (click)="seats(10)">1</a>
                  <a (click)="seats(2)">2</a>
                  <a (click)="seats(3)">3</a>
                  <a (click)="seats(4)">4</a>
                </div>
              </div>
            </div>

        <div class="dropDownLeft">
            <div class="dropdown">
                <button class="dropbtn">Seat Preference</button>
                <div class="dropdown-content">
                  <a (click)="pref('Window')">Window</a>
                  <a (click)="pref('Aisle')">Aisle</a>
                </div>
              </div>
            </div>

            <div class="dropDownLeft">
                <div class="dropdown">
                    <button class="dropbtn">Seat location</button>
                    <div class="dropdown-content">
                      <a (click)="location('Washroom')">Washroom</a>
                      <a (click)="location('Canteen')">Canteen</a>
                      <a (click)="location('Middle')">Middle</a>
                    </div>
                  </div>
                </div>
            <br><br><br><br><br>

<br>
        <div class="card" style="width: 23rem; padding: 10px; margin-left: 10px;">
            <div class="row"> 
                <div class="col-4">
                3 &nbsp;<span class="badge" [style.background-color]="allSeats[0].properties.available == 'Yes' ? 'Green' : 'aliceblue'">A</span>
                 <span class="badge" style="margin-left: 10px;"  [style.background-color]="allSeats[1].properties.available == 'Yes' ? 'Green' : 'aliceblue'">B</span>
                </div>
                <div class="col-4">
                  <span class="badge" [style.background-color]="allSeats[2].properties.available == 'Yes' ? 'Green' : 'aliceblue'">C</span>
                 <span class="badge" style="margin-left: 10px;" [style.background-color]="allSeats[3].properties.available == 'Yes' ? 'Green' : 'aliceblue'">D</span>
                </div>
                <div class="col-4">
                  <span class="badge" [style.background-color]="allSeats[4].properties.available == 'Yes' ? 'Green' : 'aliceblue'">E</span>
                 <span class="badge" style="margin-left: 10px;" [style.background-color]="allSeats[5].properties.available == 'Yes' ? 'Green' : 'aliceblue'">F</span>
                </div>
              </div>

              <br>
              <div class="row"> 
                <div class="col-4">
                 4 &nbsp; <span class="badge" [style.background-color]="allSeats[6].properties.available == 'Yes' ? 'Green' : 'aliceblue'">A</span>
                 <span class="badge" style="margin-left: 10px;" [style.background-color]="allSeats[7].properties.available == 'Yes' ? 'Green' : 'aliceblue'">B</span>
                </div>
                <div class="col-4">
                  <span class="badge" [style.background-color]="allSeats[8].properties.available == 'Yes' ? 'Green' : 'aliceblue'">C</span>
                 <span class="badge" style="margin-left: 10px;" [style.background-color]="allSeats[9].properties.available == 'Yes' ? 'Green' : 'aliceblue'">D</span>
                </div>
                <div class="col-4" >
                  <span class="badge" [style.background-color]="allSeats[10].properties.available == 'Yes' ? 'Green' : 'aliceblue'">E</span>
                 <span class="badge" style="margin-left: 10px;" [style.background-color]="allSeats[11].properties.available == 'Yes' ? 'Green' : 'aliceblue'">F</span>
                </div>
              </div>
<br>
              
              <div class="row" style="height: 3rem;"> 
                <div class="col-2"></div>
                <div class="col-8" style=" text-align: center;  background-color: aliceblue;">
                    Canteen
               </div>
               <div class="col-2"></div>
              </div>

              <br>

              <div class="row"> 
                <div class="col-4" style=" text-align: center;  background-color: darkgray;">
                EXIT </div>
                <div class="col-4" style=" text-align: center;">
                   
               </div>
               <div class="col-4" style=" text-align: center;  background-color: darkgray;"> EXIT</div>
              </div>
<br>
              <div class="row"  style="height: 3rem;"> 
                <div class="col-4" style=" text-align: center; background-color: aliceblue;">
                Washroom </div>
                <div class="col-4" style=" text-align: center;">
                   
               </div>
               <div class="col-4" style=" text-align: center;  background-color: aliceblue;"> Washroom</div>
              </div>

              <br>

              <div class="row"> 
                <div class="col-4">
                10 &nbsp;<span class="badge" [style.background-color]="allSeats[12].properties.available == 'Yes' ? 'Green' : 'aliceblue'">A</span>
                 <span class="badge" style="margin-left: 10px;" [style.background-color]="allSeats[13].properties.available == 'Yes' ? 'Green' : 'aliceblue'">B</span>
                </div>
                <div class="col-4">
                  <span class="badge" [style.background-color]="allSeats[14].properties.available == 'Yes' ? 'Green' : 'aliceblue'">C</span>
                 <span class="badge" style="margin-left: 10px;" [style.background-color]="allSeats[15].properties.available == 'Yes' ? 'Green' : 'aliceblue'">D</span>
                </div>
                <div class="col-4">
                  <span class="badge" [style.background-color]="allSeats[16].properties.available == 'Yes' ? 'Green' : 'aliceblue'">E</span>
                 <span class="badge" style="margin-left: 10px;" [style.background-color]="allSeats[17].properties.available == 'Yes' ? 'Green' : 'aliceblue'">F</span>
                </div>
              </div>

              <br>
              <div class="row"> 
                <div class="col-4">
                 11 &nbsp; <span class="badge" [style.background-color]="allSeats[18].properties.available == 'Yes' ? 'Green' : 'aliceblue'">A</span>
                 <span class="badge" style="margin-left: 10px;"[style.background-color]="allSeats[19].properties.available == 'Yes' ? 'Green' : 'aliceblue'">B</span>
                </div>
                <div class="col-4">
                  <span class="badge"[style.background-color]="allSeats[20].properties.available == 'Yes' ? 'Green' : 'aliceblue'">C</span>
                 <span class="badge" style="margin-left: 10px;"[style.background-color]="allSeats[21].properties.available == 'Yes' ? 'Green' : 'aliceblue'">D</span>
                </div>
                <div class="col-4">
                  <span class="badge" [style.background-color]="allSeats[22].properties.available == 'Yes' ? 'Green' : 'aliceblue'">E</span>
                 <span class="badge" style="margin-left: 10px;" [style.background-color]="allSeats[23].properties.available == 'Yes' ? 'Green' : 'aliceblue'">F</span>
                </div>
              </div>

              <br>
              <div class="row"> 
                <div class="col-4">
                 12 &nbsp; <span class="badge">A</span>
                 <span class="badge" style="margin-left: 10px;">B</span>
                </div>
                <div class="col-4">
                  <span class="badge">C</span>
                 <span class="badge" style="margin-left: 10px;">D</span>
                </div>
                <div class="col-4">
                  <span class="badge">E</span>
                 <span class="badge" style="margin-left: 10px;">F</span>
                </div>
              </div>



          </div>
    
      
      </div>
  </body>
  </html>